
.navbar {
    padding: 18px 0;
    background: #F3F8FF;
    box-shadow: #c9cdd3;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav {
    gap: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #0b0f3b;
    padding: 0;
}


.navbar .btn {
    padding: 8px 22px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    flex-shrink: 0;
}

.navbar .container {
    flex-wrap: nowrap;
}

@media (max-width: 991px) {
    .navbar-nav {
        gap: 15px;
        margin: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar .container {
        flex-wrap: wrap;
        gap: 10px;
    }
}

.hero {
    padding: 215px 0; 
    background: #eef2f7;
    overflow: hidden;
}

.hero .row {
    align-items: center;
}

.hero-content {
    max-width: 540px;
}

.hero-title {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.15;
    color: #0b0f3b;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 16px;
    line-height: 1.7;
    color: #5c6070;
    max-width: 480px;
    margin-bottom: 28px;
}

.hero-buttons {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.hero-btn-primary {
    background: #f5b335;
    border: none;
    padding: 12px 26px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.hero-btn-secondary {
    border: 1px solid #0b0f3b;
    padding: 12px 26px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #0b0f3b;
    background: transparent;
}
.hero-image {
    position: absolute;
    right: 0;
    top: 120px;
    padding-top: 40px; 
    width: 70vw; 
    display: flex;
    justify-content: flex-end;
}
.hero-image img {
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: contain;
    
}
@media (max-width: 992px) {
    .hero {
        flex-direction: column;
        padding: 100px 24px;
        text-align: center;
    }

    .hero-left {
        max-width: 100%;
    }

    .hero-right {
        position: relative;
        top: 40px;
        width: 100%;
        justify-content: center;
    }

    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-left h1 {
        font-size: 38px;
    }
}