
.navbar {
    padding: 18px 0;
    background: #F3F8FF;
    box-shadow: #c9cdd3;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav {
    gap: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #0b0f3b;
    padding: 0;
}


.navbar .btn {
    padding: 8px 22px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    flex-shrink: 0;
}

.navbar .container {
    flex-wrap: nowrap;
}

@media (max-width: 991px) {
    .navbar-nav {
        gap: 15px;
        margin: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar .container {
        flex-wrap: wrap;
        gap: 10px;
    }
}
.hero {
    padding: 90px 0;
    background: #eef2f7;
}